<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en">
  <head>
	  <meta charset="utf-8">
	  <!-- If you delete this meta tag World War Z will become a reality -->
	  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  
		<title>Welcome to LondonLofts4U</title>
		<link rel="stylesheet" href="/css/foundation.css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,700,600' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="/css/slick.css"/>
		<!-- This is how you would link your custom stylesheet -->
		<link rel="stylesheet" href="/css/screen.css">
		<script src="/js/vendor/modernizr.js"></script>
	  
  </head>

  <body>


    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
    
    
	<script src="/js/vendor/jquery.js"></script>
	<script src="/js/foundation.min.js"></script>
	<script src="/js/foundation/foundation.clearing.js"></script>
	<script src="/js/slick.min.js"></script>

	<script>
		
		$(document).foundation();
		
		$(document).ready(function(){
			$('.slider').slick({
				dots: true,
				infinite: true,
				autoplay: true,
				speed: 500,
				fade: true,
				slide: 'div',
				cssEase: 'linear'
  
			});
		});

	</script>
  
  
    {% block page-scripts %}
    {% endblock %}
  </body>
</html>

