{% extends "base.html" %}
{% block content %}
 
<section>
	 <div class="small-12 medium-12 columns logo-container" >
		 <img src="/img/logo.svg" class="logo" alt="London Lofts 4U" title="London Lofts 4U">
	 </div>
	 <h2 class="subheader" style="">Loft + Kitchens + Refurbishments + Extensions</h2>
	 <h3 class="top-message" style="">Call us now to answer any questions 07583 479756</h3>
</section>
 
 
<section style="margin: 0px; width: 100%; background-color: #2875AF">
    <div class="row " style="background-color: yellow"  id="bar"  class="nav">
	<div class="" style="background-color: #2875AF;">
		 <ul class="inline-list small-12 medium-12" style="background-color: reed;padding: 0.5em;">
			 <li class="centered small-12 medium-2" style="background-color: aqeua;margin: 0px;"><a href="#">ABOUT US</a></li>
			 <li class="centered small-12 medium-2" style="background-color: teeal;margin: 0px;"><a href="#">WHAT WE DO</a></li>
			 <li class="centered small-12 medium-2" style="background-color: aqeua;margin: 0px;"><a href="#">TESTIMONIALS</a></li>
			 <li class="centered small-12 medium-2" style="background-color: fucehsia;margin: 0px;"><a href="#">GALLERY</a></li>
			 <li class="centered small-12 medium-3" style="background-color: #78b829;margin: 0px;"><button href="#" class="button small-12 success centered" style="white-space: nowrap;">FREE QUOTATION</button></li>
		 </ul>
	</div>
	</div>
</section>


<section>
    <div class="slider">
        <div class="slidde" id="slide1" style="width:100%"></div>
        <div class="slidde" id="slide2" style="width:100%"></div>
        <div class="slidde" id="slide3" style="width:100%"></div>
    </div>
</section>



<section class="section-content">
    <div class="row " style="background-color: yeellow">
	    <h2 class="centered section-title">About Us</h2>
	    <p>We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations.</p>
    </div>
</section>



<section class="section-content" style="background-color: #3090AA; color:white;">
    <div class="row ">
	    <h2 class="centered section-title">What We Do</h2>
	    <p>We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations.</p>
    </div>
</section>






<section class="section-content">
    <div class="row " style="background-color: yeellow">
	    <h2 class="centered section-title">Testimonials</h2>
	    <div class="testimonial">
		    <img class="avatar left" src="https://rareburg.com/img/index/portrait3.jpg">
		    <p class="quote">We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations. <span class="who right">Yani Chang, London E8</span></p>
		    
	    </div>
	    <hr>
	    <div class="testimonial">
		    <img class="avatar left" src="https://rareburg.com/img/index/portrait1.jpg">
		    <p class="quote">We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations. <span class="who right">Yani Chang, London E8</span></p>
		    
	    </div>
	    	    <hr>

	    <div class="testimonial">
		    <img class="avatar left" src="https://rareburg.com/img/index/portrait2.jpg">
		    <p class="quote">We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations. <span class="who right">Yani Chang, London E8</span></p>
		    
	    </div>
    </div>
</section>




<section class="section-content">
    <div class="row">
	    <h2 class="centered section-title">Gallery</h2>
	    <p>The following images are some of the photos we have snapped on site. The quality isn't perfect but we prefer to concentrate on the job in hand rather than taking pretty photos.</p>
	    
<ul class="clearing-thumbs" data-clearing>
		  <li><a href="https://rareburg.com/img/index/portrait3.jpg"><img class="gallery-item" src="https://rareburg.com/img/index/portrait3.jpg"></a></li>
		  <li><a href="https://rareburg.com/img/index/portrait3.jpg"><img class="gallery-item" src="https://rareburg.com/img/index/portrait3.jpg"></a></li>
		  <li><a href="https://rareburg.com/img/index/portrait3.jpg"><img class="gallery-item" src="https://rareburg.com/img/index/portrait3.jpg"></a></li>
		  <li><a href="https://rareburg.com/img/index/portrait3.jpg"><img class="gallery-item" src="https://rareburg.com/img/index/portrait3.jpg"></a></li>
		  <li><a href="https://rareburg.com/img/index/portrait3.jpg"><img class="gallery-item" src="https://rareburg.com/img/index/portrait3.jpg"></a></li>
		</ul>


    </div>
</section>



<section class="section-content">
    <div class="row">
	    <h3 class="centered">LondonLofts4U &copy; 2015</h3>
    </div>
</section>


{% endblock %}
