{% extends "base.html" %}
{% block content %}
 
<section>
	 <div class="small-12 medium-12 columns logo-container" >
		 <img src="/img/logo.svg" class="logo" alt="London Lofts 4U" title="London Lofts 4U">
	 </div>
	 <h2 class="subheader" style="">Loft + Kitchens + Refurbishments + Extensions</h2>
	 <h3 class="top-message" style="">Call us now to discuss your project 07583 479756</h3>
</section>
 
 
<section style="margin: 0px; width: 100%; background-color: #2875AF">
    <div class="row " style="background-color: yellow"  id="bar"  class="nav">
	<div class="" style="background-color: #2875AF;">
		 <ul class="inline-list small-12 medium-12" style="background-color: reed;padding: 0.5em;">
			 <li class="centered small-12 medium-2" style="background-color: aqeua;margin: 0px;"><a href="#au">ABOUT US</a></li>
			 <li class="centered small-12 medium-2" style="background-color: teeal;margin: 0px;"><a href="#wwd">WHAT WE DO</a></li>
			 <li class="centered small-12 medium-2" style="background-color: aqeua;margin: 0px;"><a href="#tes">TESTIMONIALS</a></li>
			 <li class="centered small-12 medium-2" style="background-color: fucehsia;margin: 0px;"><a href="#gal">GALLERY</a></li>
			 <li class="centered small-12 medium-3" style="background-color: #78b829;margin: 6px;"><a href="mailto:londonlofts4u@icloud.com" class="button small-12 success centered" style="white-space: nowrap;line-height: 2em;padding: 0px;">FREE QUOTATION</a></li>
		 </ul>
	</div>
	</div>
</section>


<section>
    <div class="slider">
        <div class="slidde" id="slide1" style="width:100%"></div>
        <div class="slidde" id="slide2" style="width:100%"></div>
        <div class="slidde" id="slide3" style="width:100%"></div>
    </div>
</section>



<section class="section-content">
    <div class="row " style="background-color: yeellow">
	    <a name="au"><h2 class="centered section-title">About Us</h2></a>
	    <p>We are a small family run business specializing in making your home improvements fast, efficient and hassle free. We come from a long line of builders whose trade has been past down through generations.</p>
    </div>
</section>



<section class="section-content" style="background-color: #3090AA; color:white;">
    <div class="row ">
	    <a name="wwd"><h2 class="centered section-title">What We Do</h2></a>
	    <p>After many years of converting lofts to additional living space we have a long list of happy customers. We work fast, cleanly and pay particular attention to keep disruption to an absolute minimum.</p>
	    <p>In addition to lofts we are very experienced in house extensions, kitchen conversions and all other home improvements</p> 
    </div>
</section>






<section class="section-content">
    <div class="row " style="background-color: yeellow">
	    <a name="tes"><h2 class="centered section-title">Testimonials</h2></a>
	    <div class="testimonial">
		    <img class="avatar left" src="/img/av1.jpg">
		    <p class="quote">When my husband and I first contracted Paul and his guys to convert our large (dark and very dirty) attic we were happily surprised how professional and efficient his team were. We're over the moon with the outcome and couldn't recommend LondonLofts4U enough!<span class="who right">Ms Y Chang, London E8</span></p>
		    
	    </div>
	    <hr>
	    <div class="testimonial">
		    <img class="avatar left" src="/img/av2.png">
		    <p class="quote">These guys are the real deal! They did an amazing job extending my kitchen. Utterly trust-worthy and professional<span class="who right">Diana S, London E5</span></p>
		    
	    </div>
	    	    <hr>

	    <div class="testimonial">
		    <img class="avatar left" src="/img/av3.jpg">
		    <p class="quote">We love our new loft! LL4U were fast, easy and communicated well at each stage of the project.<span class="who right">Dr Peebles, London E8</span></p>
		    
	    </div>
    </div>
</section>




<section class="section-content">
    <div class="row">
	    <a name="gal"><h2 class="centered section-title">Gallery</h2></a>
	    <p>The following images are some of the photos we have snapped on site. The quality isn't perfect but we prefer to concentrate on the job in hand rather than taking pretty photos but we hope it gives you an idea of the variety of work we undertake.</p>
	    
<ul class="clearing-thumbs" data-clearing>
		  <li><a href="/img/gallery/DSC00669.jpg"><img class="gallery-item" src="/img/gallery/DSC00669.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0166.jpg"><img class="gallery-item" src="/img/gallery/IMG_0166.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0412.jpg"><img class="gallery-item" src="/img/gallery/IMG_0412.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0465.jpg"><img class="gallery-item" src="/img/gallery/IMG_0465.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0470.jpg"><img class="gallery-item" src="/img/gallery/IMG_0470.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0606.jpg"><img class="gallery-item" src="/img/gallery/IMG_0606.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0611.jpg"><img class="gallery-item" src="/img/gallery/IMG_0611.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0820.jpg"><img class="gallery-item" src="/img/gallery/IMG_0820.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0875.jpg"><img class="gallery-item" src="/img/gallery/IMG_0875.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_0909.jpg"><img class="gallery-item" src="/img/gallery/IMG_0909.jpg"></a></li>
		  <li><a href="/img/gallery/IMG_1389.jpg"><img class="gallery-item" src="/img/gallery/IMG_1389.jpg"></a></li>

		</ul>


    </div>
</section>



<section class="section-content">
    <div class="row centered">
	    <a href="mailto:londonlofts4u@icloud.com" class="button centered success" id="foot-button">Click Here For a Free Quote Now</a>
    </div>
</section>



<section class="section-content">
    <div class="row ">
	    <img src="/img/london_skyline.gif" alt="london skyline" title="london skyline" style="margin: auto;display: block">
	    <h3 class="centered">LondonLofts4U &copy; 2015</h3>
    </div>
</section>


{% endblock %}
